@model IEnumerable<OECS.Models.ProductModels.ViewProductModel>
@using OECS.Models;
<div class="modal-header">
    <h5 class="modal-title">Gallery</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid clearfix">
        <div class="gallery text-center">
            <div class="previews">
                @{
                    oecsEntities dbContext = new oecsEntities();
                    var defaultImg = "";
                    int productID = Convert.ToInt32(ViewBag.ProductID);
                    var icon = dbContext.Icon
                                        .Where(p => p.ProductColor.ProductID == productID).ToList();

                    foreach (var img in Model)
                    {
                        if (img.ProductColor.isDisplay == true)
                        {
                            defaultImg = img.ProductColor.path;
                            <a href = "#" class="selected" data-full="@defaultImg"><img src="@defaultImg" style="height: 100px; width: 100px;" /></a>
                        }
                        else
                        {
                            <a href="#" data-full="@img.ProductColor.path"><img src="@img.ProductColor.path" style="height: 100px; width: 100px;" /></a>
                        }
                    }
                }
            </div>
            <div class="full">
                <img src="@defaultImg" />
            </div>
        </div>
    </div>
    <div class="container">
        @foreach (var i in icon)
        {
            <a onclick="ViewProductPhotoGallery(parseInt(@i.ProductColor.ProductID), parseInt(@i.ProductColor.ColorID))">
                <img src="@i.icon1" class="img-fluid z-depth-1 rounded-circle">
            </a>
        }
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>
