@if (this.Session["Modules"] != null && Request.IsAuthenticated)
{
    var module = (IEnumerable<OECS.Models.ViewModuleModel>)Session["Modules"];
    var groupByModule = module.GroupBy(m => m.Module);
    <div id="slide-out" class="side-nav sn-bg-4 fixed">
        <ul class="custom-scrollbar">
            <li class="logo-sn waves-effect py-3">
                <div class="text-center">
                    <strong class="text-danger">Online E-Commerce</strong>
                </div>
            </li>

            <li>
                <ul class="collapsible collapsible-accordion">
                    @foreach (var mod in groupByModule)
                    {
                        var navLink = "#";
                        if(mod.Key.action != null & mod.Key.controller != null)
                        {
                            navLink = Url.Action(mod.Key.action, mod.Key.controller);
                        }
                        <li>
                            <a href="@navLink" class="collapsible-header waves-effect">
                                <i class="@mod.Key.icon"></i> @mod.Key.module1 <i class="@(mod.Key.hasArrow == true ? "fas fa-angle-down rotate-icon" : "")"></i>
                            </a>
                            @foreach (var sub in mod.Where(m => m.Module.hasChild == true))
                            {
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="@Url.Action(sub.SubModule.action, sub.SubModule.controller)" class="waves-effect">
                                                <i class="@sub.SubModule.icon"></i> @sub.SubModule.subModule1
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </li>
                    }
                </ul>
            </li>
        </ul>
        <div class="sidenav-bg mask-strong"></div>
    </div>
}