@model OECS.Models.ProductModels.ProductColorModel
@using OECS.Models;
@using (Ajax.BeginForm("EditProductColor", "Product", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success(data)" }, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header">
        <h5 class="modal-title">Edit Color</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(i => i.ProductID)
        @Html.HiddenFor(i => i.ProductColorID)
        @{
            oecsEntities dbContext = new oecsEntities();
            int c = 1;
            var icon = dbContext.ProductImage
                                .Where(i => i.ProductColor.ProductID == Model.ProductID)
                                .Select(i => new
                                {
                                    i.IconID,
                                    i.ProductColor.ColorID,
                                    i.Icon.icon1
                                }).Distinct().ToList();
        }
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DropDownListFor(i => i.ColorID, Model.ColorList, "Select Color", new { @class = "browser-default form-control" })
                    </th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Images</td>
                    @foreach (var path in Model.ProductImage)
                    {
                        <td class="text-center">
                            <label>
                                @Html.Hidden("txtHidImgID-" + @c, path.ImageID, new { @class = "form-control txtHidImgID" })
                                @Html.TextBoxFor(i => i.Files, new { type = "file", @class = "file-edit-img-input d-none", @id = "fileEdit-" + c })
                                <img class="img-display" src="@path.path" id="imgEdit-@c" />
                            </label>
                        </td>
                        { c++; }
                    }
                </tr>
            </tbody>
        </table>

        <div class="container">
            @foreach (var i in icon)
            {
                <a onclick="EditColorImages(@Model.ProductID, parseInt(@i.ColorID), parseInt(@i.IconID))">
                    <img src="@i.icon1" class="img-fluid z-depth-1 rounded-circle img-thumbnail icon" id="edit-icon-@i.IconID" />
                </a>
            }
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary d-none" type="submit" id="BtnConfirmSaveEditProductColor"></button>
        <button class="btn btn-primary" type="button" id="BtnSaveEditProductColor">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
}