@model OECS.Models.ProductModels.ProductColorModel
@using (Ajax.BeginForm("CreateNewProductColor", "Product", new AjaxOptions { HttpMethod = "POST", OnSuccess = "" }, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header">
        <h5 class="modal-title">New Color</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(i => i.ProductID, new { @id = "txtHidProductID" })
        @Html.HiddenFor(i => i.IsDisplayPosition, new { @id = "txtIsDisplayPosition" })
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DropDownListFor(i => i.ColorID, Model.ColorList, "Select Color", new { @class = "browser-default form-control" })
                    </th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Images</td>
                    <td class="text-center"><img class="img-display" src="~/Images/AddImageIcon/add-image-icon.png" id="img1" /></td>
                    <td class="text-center"><img class="img-display" src="~/Images/AddImageIcon/add-image-icon.png" id="img2" /></td>
                    <td class="text-center"><img class="img-display" src="~/Images/AddImageIcon/add-image-icon.png" id="img3" /></td>
                    <td class="text-center"><img class="img-display" src="~/Images/AddImageIcon/add-image-icon.png" id="img4" /></td>
                    <td class="text-center"><img class="img-display" src="~/Images/AddImageIcon/add-image-icon.png" id="img5" /></td>
                </tr>
                <tr>
                    <td>Set Us Color Display</td>
                    <td class="text-center">
                        <div class="custom-control custom-radio">
                            @Html.RadioButtonFor(i => i.IsDisplay, false, new { @class = "custom-control-input", @id = "isDisplayImg-1", @disabled = "true" })
                            <label class="custom-control-label" for="isDisplayImg-1"></label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control custom-radio">
                            @Html.RadioButtonFor(i => i.IsDisplay, false, new { @class = "custom-control-input", @id = "isDisplayImg-2", @disabled = "true" })
                            <label class="custom-control-label" for="isDisplayImg-2"></label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control custom-radio">
                            @Html.RadioButtonFor(i => i.IsDisplay, false, new { @class = "custom-control-input", @id = "isDisplayImg-3", @disabled = "true" })
                            <label class="custom-control-label" for="isDisplayImg-3"></label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control custom-radio">
                            @Html.RadioButtonFor(i => i.IsDisplay, false, new { @class = "custom-control-input", @id = "isDisplayImg-4", @disabled = "true" })
                            <label class="custom-control-label" for="isDisplayImg-4"></label>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="custom-control custom-radio">
                            @Html.RadioButtonFor(i => i.IsDisplay, false, new { @class = "custom-control-input", @id = "isDisplayImg-5", @disabled = "true" })
                            <label class="custom-control-label" for="isDisplayImg-5"></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        @Html.TextBoxFor(i => i.Files, new { type = "file", @multiple = "multiple", @class = "file-img-input", @id = "file-6" })
                    </td>
                </tr>
            </tbody>
        </table>
        <strong>Set Icon:</strong>
        <label>
            @Html.TextBoxFor(i => i.IconFile, new { type = "file", @class = "d-none", @id = "file-add-icon" })
            <img class="img-display img-fluid z-depth-1 rounded-circle img-thumbnail" src="~/Images/AddImageIcon/add-image-icon.png" id="imgAddIcon" />
        </label>
    </div>
    <div class="modal-footer">
        <button class="d-none" type="submit" id="BtnConfirmSaveNewProductColor"></button>
        <button class="btn btn-primary" type="button" id="BtnSaveNewProductColor">Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
}