@model IEnumerable<OECS.Models.CartModels.ViewCartItem>
@using OECS.Models;
@using OECS.Services.ProductServices.ProductGalleryServices;
@using OECS.Repository.ProductRepository.ProductGalleryRepository;

@{
    IProductGalleryService _productGalleryService = new ProductGalleryService(new ProductGalleryRepository(new oecsEntities()));
    decimal totalAmount = 0.0m;
}

<div class="card">
    <div class="card-body">
        <div class="custom-control custom-checkbox float-left">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">
                SELECT ALL (@Model.Count() ITEM(S))
            </label>
        </div>

        <a class="float-right" role="button" id="BtnDeleteSelectedItem">
            <i class="fas fa-trash-alt"></i> DELETE
        </a>
    </div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center" colspan="2">Item</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Qty</th>
                    <th class="text-center"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    string imagePath = _productGalleryService.GetImageDisplayPath((int)item.ProductID, (int)item.ColorID);
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input chk-cart-item" OrderNo="@item.OrderNo" ItemPrice="@((decimal)item.Price)" id="defaultUnchecked-@item.OrderNo">
                                <label class="custom-control-label" for="defaultUnchecked-@item.OrderNo"></label>
                            </div>
                        </td>
                        <td>
                            <img class="produt-img" src="..\..\@imagePath" />
                        </td>
                        <td>
                            <p class="emphasize-text">@item.ProductName</p>
                            <p>Brand: @item.BrandName, Color: @item.Color, Size: @item.Size</p>
                        </td>
                        <td class="td-price">@String.Format("{0:C}", (decimal)item.Price * item.Quantity)</td>
                        <td>
                            <div class="def-number-input number-input safari_only">
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown(), ChangeQuantity(parseFloat(@item.Price), $(this))" class="minus"></button>
                                @Html.TextBoxFor(c => item.Quantity, new { @class = "quantity", @min = "1", @max = item.Quantity, @type = "number", @disabled = true })
                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp(), ChangeQuantity(parseFloat(@item.Price), $(this))" class="plus"></button>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" type="button" onclick="DeleteItem(parseInt(@item.OrderNo))">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>

                    totalAmount += (decimal)item.Price * item.Quantity;
                }
            </tbody>
        </table>
        <input type="hidden" id="hidSelectedItemAmount" value="0.0" />  @* hold total selected item amount *@
        <input type="hidden" id="hidTotalAmount" value="@totalAmount" />   @* hold total amount in cart *@
    </div>
</div>
