@model IEnumerable<OECS.Models.ProductModels.ViewProductModel>
@*@model PagedList.IPagedList<OECS.Models.Product>
    @using PagedList.Mvc;*@
<div class="row wow fadeIn">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">@product.Color.color1
                <div class="view overlay">
                    <img src="@product.ProductImage.path" class="card-img-top" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <hr />
                <div class="card-body text-center">
                    <a href="" class="grey-text">
                        <h5>@product.Product.Category.category1</h5>
                    </a>
                    <h5>
                        <strong>
                            <a href="" class="dark-grey-text">
                                @product.Product.productName
                                @*<span class="badge badge-pill danger-color">NEW</span>*@
                            </a>
                        </strong>
                    </h5>

                    <h4 class="font-weight-bold blue-text">
                        <strong>$@product.Product.price</strong>
                    </h4>

                    <div class="container-fluid">
                        <div class="col-xs-6">
                            <button class="btn btn-primary btn-sm" type="button">Buy Now</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-warning btn-sm" type="button">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*@Html.PagedListPager(Model, page => Url.Action("Show", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Products*@